:root {
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
  --background: hsl(229, 31%, 21%);
}
body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
}
.tittle {
  color: var(--veryDarkBlue);
  font-size: 1.8em;
  margin: 0 auto;
}
.subtittle {
  color: var(--veryDarkBlue);
  font-size: 1.5em;
}
.description {
  color: var(--grayishBlue);
  font-size: 1em;
  margin-top: 1em;
  font-weight: 400;
}
.btn {
  padding: 0.8em 0.6em;
  border-radius: 5px;
  font-weight: 500;
}
.btn-primary {
  background-color: var(--softBlue);
  color: white;
}
.btn-primary:hover {
  background-color: white;
  border: 1px solid var(--softBlue);
  color: var(--softBlue);
}
.btn-secondary {
  background-color: white;
  color: var(--grayishBlue);
  border: none;
  -webkit-box-shadow: -3px 5px 10px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 5px 10px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 5px 10px -6px rgba(0, 0, 0, 0.75);
}
.btn-secondary:hover {
  background-color: white;
  border: 1px solid var(--veryDarkBlue);
  color: var(--veryDarkBlue);
}

/***************header********************/
.site-header {
  margin-bottom: 2em;
  padding: 30px 0;
  z-index: 1020;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}
.site-header .nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  text-align: center;
  z-index: 1020;
}
.site-header .nav .nav-item {
  margin: 0 auto;
  display: block;
  width: 80%;
  border-bottom: 1px solid lightgray;
  padding: 0.8em;
}
.site-header .nav .nav-link {
  color: white;
  font-weight: 300;
}
.site-header .nav .nav-item:first-of-type {
  border-top: 1px solid lightgray;
}
.site-header .nav .nav-item:last-of-type {
  border-bottom: none;
}
.site-header .btn-login .nav-link {
  border: 2px solid white;
  border-radius: 5px;
}
.nav-background {
  position: fixed;
  height: 100vh;
  right: 0;
  left: 0;
  background-color: var(--background);
  z-index: 1020;
}
.hamburguer i {
  width: 100%;
  font-size: 1.5em;
}
@media (min-width: 992px) {
  .site-header .logo img {
    width: 40%;
  }
  .site-header .nav {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
  .site-header .nav .nav-item {
    margin: 0;
    display: inline-flex;
    width: auto;
    border: none;
  }
  .site-header .nav .nav-item:first-of-type {
    border-top: none;
  }
  .site-header .nav .nav-link {
    color: var(--veryDarkBlue);
    transition: all 0.5s ease-in-out;
  }
  .site-header .nav .nav-link:hover {
    color: var(--softRed);
  }
  .site-header .btn-login .nav-link {
    background-color: var(--softRed);
    color: white;
    padding: 0.5em 1.3em;
    transition: all 0.5s ease-in-out;
  }
  .site-header .btn-login .nav-link:hover {
    background-color: white;
    color: var(--softRed);
    border: 1px solid var(--softRed);
  }
}
/***************Hero********************/
.site-hero {
  overflow-x: hidden;
  margin-bottom: 2em;
}
.hero-image-container {
  margin-bottom: 3em;
}
.hero-image-container::after {
  content: "";
  background-color: var(--softBlue);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  border-radius: 500px 0 0 500px;
  z-index: -2000;
  transform: translateX(10%);
}
.hero-text-container {
  padding-bottom: 1em;
}
@media (min-width: 992px) {
  .site-hero {
    margin-bottom: 6em;
  }
  .hero-image-container {
    margin: 0;
    padding: 0;
    padding-bottom: 3em;
  }
  .hero-image {
    margin-top: 1em;
  }
  .hero-image-container::after {
    width: 150%;
    height: 80%;
    transform: translateX(50%);
  }
  .hero-text-container .tittle {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  .hero-text-container .description {
    margin-bottom: 2em;
  }
}

/***************features********************/
.site-features {
  margin-bottom: 6em;
}
.features-container {
  text-align: center;
  margin-bottom: 4em;
}
.feature {
  display: block;
  padding: 1em;
  border-bottom: 1px solid lightgray;
  color: var(--grayishBlue);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.feature:hover {
  color: var(--softRed);
  text-decoration: none;
}
.feature.active {
  color: black;
  text-decoration: none;
}
.feature::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  width: 40%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 4px solid var(--softRed);
  opacity: 0;
}
.feature.active::after {
  opacity: 1;
}
.feature:first-of-type {
  border-top: 1px solid lightgray;
}
.content-image-container {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.content-image-container::after {
  content: "";
  background-color: var(--softBlue);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  border-radius: 0 500px 500px 0;
  z-index: -2000;
  transform: translateX(-10%);
}
.content-image-container img {
  width: 90%;
}
.content {
  display: none;
}
.content.active {
  display: block;
}
@media (min-width: 992px) {
  .site-features .main-description {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 3em;
  }
  .features-container {
    margin-bottom: 5em;
  }
  .feature {
    display: inline-block;
  }
  .feature:first-of-type {
    border-top: none;
  }
  .feature::after {
    width: 100%;
  }
  .content-container {
    position: relative;
    padding-bottom: 1em;
  }
  .content-container::after {
    content: "";
    background-color: var(--softBlue);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 80%;
    border-radius: 0 500px 500px 0;
    z-index: -2000;
    transform: translateX(-30%);
  }
  .content.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content.active .content-image-container {
    padding-bottom: 0;
    flex-basis: 50%;
  }
  .content-image-container::after {
    content: none;
  }
  .content-image-container img {
    width: 100%;
  }
  .content.active .content-text-container {
    flex-basis: calc(50% - 6em);
  }
}

/***************Download section********************/
.downloads {
  margin-bottom: 6em;
}
.downloads .description {
  margin-bottom: 3em;
}
.cards-container {
  justify-content: center;
}
.downloads .card {
  flex-basis: 80%;
  margin-bottom: 2em;
  padding-top: 3em;
}
.downloads .card-image-container {
  margin-bottom: 2em;
}
.downloads .card-image-container img {
  width: 30%;
}
.downloads .card-text {
  padding-bottom: 4em;
  margin-bottom: 1em;
  color: var(--grayishBlue);
  position: relative;
}
.downloads .card-text::after {
  position: absolute;
  content: "";
  margin: 0 auto;
  width: 100%;
  height: 20px;
  background-image: url(../images/bg-dots.svg);
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
}
@media (min-width: 992px) {
  .downloads {
    padding-bottom: 4em;
  }
  .downloads .description {
    margin: 0 auto 3em auto;
    width: 50%;
  }
  .downloads .cards-container {
    justify-content: space-between;
  }
  .downloads .card {
    flex-basis: calc(33.3% - 2em);
  }
  .card:nth-child(2) {
    transform: translateY(10%);
  }
  .card:nth-child(3) {
    transform: translateY(20%);
  }
}

/***************Faq********************/
.site-faq {
  margin-bottom: 6em;
}
.site-faq .description {
  margin-bottom: 2em;
}
.site-faq .accordion button {
  color: var(--veryDarkBlue);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.site-faq .accordion button:hover {
  color: var(--softRed);
}
.btn-link {
  color: var(--veryDarkBlue);
}
.accordion button:focus {
  text-decoration: none;
  color: var(--veryDarkBlue);
}
.site-faq .accordion .card {
  border: none;
  border-top: 1px solid lightgrey;
  border-radius: 0;
}
.site-faq .accordion .card .btn {
  border: none;
}
.site-faq .more-info {
  margin-top: 2em;
}

.site-faq .accordion .card .card-body {
  border: none;
  font-size: 0.9em;
  color: var(--grayishBlue);
  line-height: 1.8;
}
@media (min-width: 992px) {
  .site-faq .accordion {
    width: 50%;
    margin: 0 auto;
  }
}
/***************News********************/
.site-news {
  background-color: var(--softBlue);
  padding: 3em 0 2em 0;
}
.stats {
  font-size: 0.7em;
  color: white;
  letter-spacing: 4px;
}
.newsTittle {
  color: white;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.input-container {
  display: flex;
  padding: 1px 3px 0 3px;
  justify-content: center;
}
.campo input {
  position: relative;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 0.8em;
  width: 98%;
  font-size: 0.8em;
  z-index: 1000;
}
.error-icon {
  background-color: white;
  color: white;
  position: relative;
  font-size: 0.6em;
  z-index: 1010;
  display: flex;
  align-items: center;
  border-radius: 0 3px 3px 0;
}
.error-icon i {
  background-color: var(--softRed);
  padding: 1em;
  height: inherit;
  border-radius: 100%;
}
.form-error-container {
  width: 90%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 1em;
  padding-top: 2px;
}
.form-error {
  display: flex;
  align-items: flex-end;
  position: absolute;
  background-color: var(--softRed);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.error {
  display: none;
}
.error.active {
  display: flex;
}
.form-error p {
  font-size: 0.6em;
  text-align: left;
  color: white;
  font-style: italic;
  margin: 0;
}
.btn-submit {
  width: 90%;
  background-color: var(--softRed);
  margin-top: 1em;
  color: white;
  transition: all 0.5s ease-in-out;
}
.btn-submit:hover {
  background-color: white;
  border: 1px solid var(--softRed);
  color: var(--softRed);
}
@media (min-width: 992px) {
  .newsTittle {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 1em;
    font-size: 2em;
  }
  .newsForm {
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .newsForm .campo {
    flex-basis: 80%;
  }
  .newsForm .submit-container {
    flex-basis: 20%;
    padding-bottom: 1em;
    padding-top: 3px;
  }
  .btn-submit {
    margin: 0;
    width: 100%;
  }
}

/***************Footer********************/
.site-footer {
  background-color: var(--veryDarkBlue);
  padding: 2em 0;
}
.logo-footer-container {
  width: 100%;
  margin-bottom: 2em;
}
.logo-footer-container img {
  width: 60%;
}
.nav-footer .nav-link {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 0 2em 0;
}
.social-nav .nav-link {
  color: white;
  font-size: 1.3em;
}
.nav-footer .nav-link:hover {
  color: var(--softRed);
}
.social-nav .nav-link:hover {
  color: var(--softRed);
}
@media (min-width: 992px) {
  .logo-footer-container {
    margin: 0;
  }
  .logo-footer-container img {
    width: 80%;
  }
  .nav-footer .nav-link {
    padding: 0;
    margin-right: 2em;
  }
  .social-nav {
    padding: 0;
    justify-content: flex-end !important;
  }
  .social-nav .nav-link {
    font-size: 1.5em;
  }
}
